annotated-types
anyio
Bottleneck
Brotli
brotlicffi
certifi==2025.1.31
cffi 
charset-normalizer 
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
contourpy 
cycler 
Deprecated 
distro==1.9.0
dotenv==0.9.9
exceptiongroup 
fastapi 
filelock 
flatbuffers==25.2.10
fonttools 
fsspec 
gitdb==4.0.12
GitPython==3.1.44
gmpy2 
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
humanfriendly==10.0
idna==3.10
importlib_metadata 
importlib_resources 
Jinja2 
jiter==0.9.0
kiwisolver 
MarkupSafe 
matplotlib==3.9.2
mkl-service==2.4.1
mkl_fft 
mkl_random 
mpmath 
networkx 
numexpr 
numpy 
onnx==1.17.0
onnxruntime==1.19.2
onnxslim==0.1.58
openai==1.72.0
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
opentelemetry-api 
packaging 
pandas 
pillow 
protobuf==6.31.1
psutil==7.0.0
py-cpuinfo==9.0.0
pycparser 
pydantic==2.11.3
pydantic_core==2.33.1
pyparsing 
pyreadline3==3.5.4
PySocks 
python-dateutil 
python-dotenv==1.1.0
pytz 
PyYAML==6.0.2
pyzbar 
requests
scipy==1.13.1
seaborn 
six
smmap==5.0.2
sniffio 
starlette
sympy
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
typing-inspection 
typing_extensions 
tzdata 
ultralytics==8.3.161
ultralytics-thop==2.0.14
unicodedata2 
urllib3 
uvicorn==0.35.0
win-inet-pton 
wrapt
zipp 
